@model IEnumerable<Kalafina.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.ReleaseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.ReleaseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-info btn-xs" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>

<div class="row ">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-sm" })
</div>
